{:paths ["src"]
 :deps {org.clojure/clojure                  {:mvn/version "1.12.0"}
        org.clojure/core.async               {:mvn/version "1.7.701"}
        org.babashka/sci                     {:mvn/version "0.9.44"}
        babashka/process                     {:mvn/version "0.5.22"}
        cheshire/cheshire                    {:mvn/version "5.13.0"}
        net.java.dev.jna/jna                 {:mvn/version "5.16.0"}
        net.java.dev.jna/jna-jpms            {:mvn/version "5.16.0"}
        net.java.dev.jna/jna-platform        {:mvn/version "5.16.0"}
        net.java.dev.jna/jna-platform-jpms   {:mvn/version "5.16.0"}}

 :aliases {:repl/conjure
           {:extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                         org.clojure/java.classpath  {:mvn/version "1.1.0"}
                         nrepl/nrepl                 {:mvn/version "1.0.0"}
                         cider/cider-nrepl           {:mvn/version "0.42.1"}}
            :main-opts  ["--main" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "--interactive"]}}}
